.custom {
    width: 150px !important;
}

.circle {
    background: #cac8bc;
    border-radius: 50%;
    color: black;
    display: inline-block;
    height: 50px;
    font-weight: bold;
    font-size: 1.2em;
    width: 50px;
    margin: 0 auto;
  }
  