<app-header></app-header>

<div class="container text-center" style="padding-top: 5%">

    <h1 style="font-weight: bold; font-family: 'Poppins';">Minimalist Room</h1>
    <pre style=" padding-right: 35px;font-family: 'Poppins'; align-content: center;">
        It is a long established fact that a reader will be
        distracted by the readable content of a page when
        looking at its layout.
        </pre>
</div>
<div class="text-center">
    <img class="img-fluid" src="/assets/img/image1.png" alt="">
</div>

<div class="container" style="padding-top: 2.5%;">
    <div class="row">
        <div class="col-sm-6">
            <h3 style="font-weight: bold; padding-left: 35px; padding-right: 35px; font-family: 'Poppins';">Project Overview</h3>
            <p style="padding-left: 35px; font-family: 'Poppins';">
                Online learning with us does not interfere with your daily life. because learning can be done
                anytime and anywhere. Online learning with us does not interfere with your daily life.
                because learning can be done anytime and anywhere. Online learning with us does not interfere
                with your daily life. because learning can be done anytime and anywhere.
            </p>
            <br>
            <br>
            <div class="row">
                <div class="col-sm">
                    <p style="padding-left: 35px; font-family: 'Poppins';">
                        July 22 - 2022
                    </p>
                </div>
                <div class="col-sm">
                    <p style=" padding-left: 35px; font-family: 'Poppins';">
                        Interior Design - Furnitur
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3 style="font-weight: bold; padding-left: 35px; padding-right: 35px; font-family: 'Poppins';">Design Process</h3>
            <p style="padding-left: 35px; font-family: 'Poppins';">
                Online learning with us does not interfere with your daily life. because
                learning can be done anytime and anywhere. Online learning with us does not
                interfere with your daily life. because learning can be done anytime and anywhere.
            </p>
            <br>
            <p style="padding-left: 35px; padding-right: 35px; font-family: 'Poppins';">
                Online learning with us does not interfere with your
                daily life. because learning can be done anytime and anywhere.
                Online learning with us does not interfere with your daily life.
                because learning can be done anytime and anywhere.
            </p>
        </div>
    </div>
</div>

<div class="container text-center" style="padding-top: 2.5%;">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-fluid" src="/assets/img/image2.png" alt="">
        </div>
        <div class="col-sm-6">
            <img class="img-fluid" src="/assets/img/image3.png" alt="">
        </div>
    </div>
</div>
<div class="text-center" style="padding-top: 2.5%;">
    <img class="img-fluid" src="/assets/img/image4.png" alt="">
</div>

<div class="container text-center" style="padding-top: 2.5%; padding-bottom: 2.5%;">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-fluid" src="/assets/img/image5.png" alt="">
        </div>
        <div class="col-sm-6">
            <img class="img-fluid" src="/assets/img/image6.png" alt="">
        </div>
    </div>
</div>
<app-footer></app-footer>